.deck {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.button--play-again{
  width: 150px;
  height: 50px;
  background-color: var(--blue-300);
  color: var(--white);
}

.button--play-again{
  width: 150px;
  height: 50px;
  background-color: var(--blue-300);
  color: var(--white);
}
